<div class="row">
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Area Chart Example</div>
            <div class="card-body"><sb-charts-area></sb-charts-area></div
        ></sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Bar Chart Example</div>
            <div class="card-body"><sb-charts-bar></sb-charts-bar></div
        ></sb-card>
    </div>
</div>
