<sb-layout-dashboard
    ><sb-dashboard-head title="Charts" [hideBreadcrumbs]="false"></sb-dashboard-head
    ><sb-card
        ><div class="card-body">Chart.js is a third party plugin that is used to generate the charts in this template. The charts below have been customized - for further customization options, please visit the official <a target="_blank" href="https://www.chartjs.org/docs/latest/">Chart.js documentation</a>.</div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Area Chart Example</div>
        <div class="card-body"><sb-charts-area></sb-charts-area></div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div></sb-card
    >
    <div class="row">
        <div class="col-lg-6">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Bar Chart Example</div>
                <div class="card-body"><sb-charts-bar></sb-charts-bar></div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div></sb-card
            >
        </div>
        <div class="col-lg-6">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-pie"]'></fa-icon>Pie Chart Example</div>
                <div class="card-body"><sb-charts-pie></sb-charts-pie></div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div></sb-card
            >
        </div>
    </div></sb-layout-dashboard
>
