sb-layout-dashboard
    sb-dashboard-head(title='Tables', [hideBreadcrumbs]='false')
    sb-card
        .card-body.
            The table below is adapted from ng-bootsrap. For more information, please visit the  <a target='_blank' href='https://ng-bootstrap.github.io/#/components/table/overview'>ng-bootstrap table documentation</a>.
    
    sb-card
        .card-header
            fa-icon.mr-1([icon]='["fas", "table"]')
            | DataTable Example
        .card-body
            sb-ng-bootstrap-table([pageSize]='6')